@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";


*{  
  font-family: "Mulish", sans-serif;
}
::-webkit-scrollbar{
  display : none ; 
}

@theme{
  --color-primary : #5044Edc5;
}